<div class="rc-white-block-badge">
  <style><%= load_style "badges/white-block-badge.sass" %></style>
  <a href="https://recurse.com">
    <i class="icon-svg"><%= load_svg "logo.svg" %></i>
    <span>Made at the <br><strong>Recurse Center</strong></span>
  </a>
</div>
