<div class="rc-text-label">
  <style><%= load_style "text/recurse-center-text-label.sass" %></style>
  <a href="https://recurse.com">
    <span>Made with <i class="icon-svg"><%= load_svg "heart.svg" %></i>
      at the <span class="highlight">Recurse Center</span></span>
  </a>
</div>
