<div class="rc-pill">
  <style><%= load_style "pills/recurse-center-pill.sass" %></style>
  <a href="https://recurse.com">
    <div><span>made at</span></div><div><span><i class="icon-svg"><%= load_svg "logo.svg" %></i>
        Recurse Center</span></div>
  </a>
</div>
