<div class="rc-recurse-center-seal">
  <style><%= load_style "seal/recurse-center-seal.sass" %></style>
  <a href="https://recurse.com">
    <i class="icon-svg"><%= load_svg "logo.svg" %></i>
  </a>
</div>
