<div class="rc-ribbon-bottom-right">
  <style><%= load_style "ribbons/ribbon-bottom-right.sass" %></style>
  <a href="https://recurse.com">
    <i class="icon-svg"><%= load_svg "logo.svg" %></i>
    <span>Made at the </span><strong>Recurse Center</strong>
  </a>
</div>
