<% tags.each do |category, tags| %>
  <h2><%= category %></h2>
  <div class="tag-cards">
    <% tags.each do |tag| %>
      <div class="card">
        <div class="viewer">
          <%= render_internal "_tag.erb", {tag: tag} %>
          <textarea style="display: none;" >
            <%= tag[:copyable] %>
          </textarea>
        </div>
        <div class="info">
          <p><%= tag[:title] %></p>
          <button class="copy-snippet-button">Copy Snippet</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
