<% @categories.each do |category, tags| %>
  <h2><%= category %></h2>
  <div id="content">
    <% tags.each do |tag| %>
      <div class="card">
        <div class="viewer">
          <div class="<%= tag[:filename] %>">
            <%= render_internal "templates/_tag.erb", {tag: tag} %>
          </div>
        </div>
        <div class="info">
          <p><%= tag[:title] %></p>
          <button class="copy-snippet-button">Copy Snippet</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
